<header>
  <div class="tableau" >
    <div class="menu"><img [src]="myimage3" url="" class="image" /> <textarea ></textarea></div>
    <table border="1"  width=100%>
      
      <tr align="left" ><th> <a routerLink="/Dashboard" routerLinkActive="active"> <img  [src]="myimage4" url="" class="image" /></a>   Dashboard</th></tr>
      <tr align="left"><th><a routerLink="/session" routerLinkActive="active"><img [src]="myimage5" url="" class="image" />  </a> Sessions</th></tr>
      <tr align="left"><th><a routerLink="/formateurs" routerLinkActive="active"><img [src]="myimage6" url="" class="image" /> </a>  Formateurs</th></tr>
      <tr align="left"><th><a routerLink="/participants" routerLinkActive="active"><img [src]="myimage7" url="" class="image" /> </a>  Participants</th></tr>
    </table>
    </div>
  </header>
  