
  <section>
    <router-outlet></router-outlet>
   </section>
  <section> 
    <div class="sess">
       <img src="assets/image/image4.png"/>
      <h5>{{nb}}sessions</h5>
    </div >
    <div class="part">
      <img src="assets/image/image11.png"/>
    <h5>{{nb_participant}} participants</h5>
    </div> 
    <div class="forma">
      <img src="assets/image/image12.png"/>
      <h5>{{nb_formateur}}formateurs</h5>
    </div>
  </section>
  
  <table class="tableau-style">
    <thead>
  <tr>
    <th>Track</th>
    <th>  Nombre de Sessions </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>mean stack</td>
    <td>
</td>
  </tr>
  <tr>
      <td>Android</td>
      <td> 0</td>
    </tr>
    <tr>
    <td>Ionic</td>
    <td> 1</td>
  </tr>
  <tr>
    <td>Angular</td>
    <td> 0</td>
  </tr>
  <tr>
    <td>NodeJs</td>
    <td> 1</td>
  </tr>
  <tr>
    <td>Xamrin</td>
    <td> 0</td>
  </tr>
  </tbody>
  </table>
  
  <table class="table2">
   <thead>
    <tr>
    <th>Top Formateurs</th>
  </tr>
  </thead>
  <tbody>
    <tr>
  <h6>nom&prenom</h6>
    </tr>
    <tr>
      
      <h6>nom&prenom</h6></tr>
  </tbody>
  </table>
  
  
